/* ================= HERO SECTION ================= */

.hero-section {
  height: 100vh; /* tinggi 100% layar */

  /* 
       linear-gradient = overlay gelap
       supaya teks putih tetap terbaca
    */
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../asset/img/bali.jpg");

  background-size: cover; /* gambar memenuhi layar */
  background-position: center; /* posisi di tengah */
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition: 0.3s ease;
}

.navbar:hover {
  background: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar .nav-link,
.navbar {
  color: white !important;
  transition: 0.3s;
}

.navbar:hover .nav-link,
.navbar:hover {
  color: black !important;
}
