/* ================= HERO SECTION ================= */

.hero-section {
  height: 90vh; /* tinggi 90% layar */

  /* 
       linear-gradient = overlay gelap
       supaya teks putih tetap terbaca
    */
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../asset/img/bali.jpg");

  background-size: cover; /* gambar memenuhi layar */
  background-position: center; /* posisi di tengah */
}
