/* ================= HERO SECTION ================= */
.hero-section {
  height: 100vh; 

  /* 
       linear-gradient = overlay gelap
       supaya teks putih tetap terbaca
    */
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../asset/img/bali.jpg");

  background-size: cover;
  background-position: center;
}

.hero-section .carousel-inner,
.hero-section .carousel-item {
  height: 100%;
}

.hero-section .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.25));
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 1.75rem;
  }
}

/* Navbar section */
.navbar {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background: transparent;
  transition: 0.3s ease;
}

.navbar:hover {
  background: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar .nav-link,
.navbar {
  color: white !important;
  transition: 0.3s;
}

.navbar:hover .nav-link,
.navbar:hover {
  color: black !important;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}



